#? stdtmpl | standard
#proc genInterp(c: var TData, sID: string): string =
# result = ""
# result.add(genCSS())
<body>
# result.add(navBar(c))
<div class="jumbotron" id="app">
    <div class="container-fluid" > 
        <div class="row justify-content-md-center">
            <h1>
                Interpretation window
            </h1>
        </div>
    <div class="row">
    <div class="col-sm-6">
        <table id="variants" class="display nowrap" style="width:90%" v-on:click="tableClickUpdate">
            <thead>
                <tr>
                    <th>Chromosome</th>
                    <th>Start position</th>
                    <th>Ref allele</th>
                    <th>Alt allele</th>
                    <th>hGVS coding</th>
                    <th>hGVS protein</th>
                    <th>GeneName</th>
                    <th>Annotation</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm" id="filterCard">
            <div class="card">
                <h5 class="card-header h5" id="sample_info_h5">Sample info for sample:                 
                    # result.add(sID)
                </h5>
                <div class="card-body">
                    <h5 class="card-title" id="sample_info_card_title">Sample info:</h5>
                    <p class="card-text" id="sample_info_card_text"></p>
                    <form method="POST" enctype="multipart/form-data">
                        <fieldset class="form-group">
                            <label for="Sample Comments">Sample Comments</label>
                            <textarea class="form-control" id="sampleComments" spellcheck="false" v-model="sessionComment"></textarea>
                        </fieldset>
                    </form>
                </div>
            </div>


            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Filters: </h4>
            </div>
            <div class="card-body">
                <div class="container container-fluid">
                    <h4 class="mb-3">add/remove filters</h4>
                    <div class='element' id='div_1'>
                        <div class='input-group mb-3'>

                            <input class='form-check-input' type='checkbox' value='' id='check_1'><label
                                class='form-check-label' for='check_1'>Keep if missing</label>&nbsp;
                            <select class="custom-select d-block w-100 col-md-2" id="selop_1">
                                <option value="">Choose...</option>
                                <option>Equal to</option>
                                <option>Not equal to</option>
                                <option>Starts with</option>
                                <option>Does not starts with</option>
                                <option>Contains</option>
                                <option>Does not contain</option>
                                <option>Greater than</option>
                                <option>Less than</option>
                            </select>
                            <select class="custom-select d-block w-100 col-md-2" id="selcol_1">
                            <option value="">Choose...</option>
                            </select>

                            <input type='text' placeholder='Value' class='form-control' id='txt_1'>&nbsp;&nbsp;<span
                                class='add col-md-1'>+</span>
                        </div>
                    </div>

                    <div class='element' id='div_2'>
                        <div class='input-group mb-3'>

                            <input class='form-check-input' type='checkbox' value='' id='check_2'><label
                                class='form-check-label' for='check_2'>Keep if missing</label>&nbsp;
                            <select class="custom-select d-block w-100 col-md-2" id="selop_2">
                                <option value="">Choose...</option>
                                <option>Equal to</option>
                                <option>Not equal to</option>
                                <option>Starts with</option>
                                <option>Does not starts with</option>
                                <option>Contains</option>
                                <option>Does not contain</option>
                                <option>Greater than</option>
                                <option>Less than</option>
                            </select>
                            <select class="custom-select d-block w-100 col-md-2" id="selcol_2">
                            <option value="">Choose...</option>
                            </select>

                            <input type='text' placeholder='Value' class='form-control' id='txt_2'>&nbsp;&nbsp;<span
                                class='col-md-1'></span>
                        </div>
                    </div>


                    <button type="button" class="btn btn-primary" id="toConsole">Apply filters</button>  <button type="button" class="btn btn-primary" id="resetFilters"v-on:click="resetFilters" > Reset filters</button>
                    <br>


                    <h1 class="card-title pricing-card-title">Active <small class="text-muted">filters</small></h1>
                    <ul class="list-unstyled mt-3 mb-6" id="card_1">
                        <li id="filterLi">No filters applied</li>
                    </ul>
                    
                    <h1 class="card-title predefined-card-title">Predefined <small class="text-muted">filters</small></h1>
                    <select class="custom-select d-block w-100 col-md-2" id="preDefsel">
                                <option value="">Choose...</option>
                                <option>Standard filter</option>
                    </select>
                    
                </div>
            </div>

            <br>

            <div class="card">
                <h5 class="card-header h5" id="var_info_h5">Variant info:</h5>
                <div id="variant_card_collapsed" class="card-body collapse">
                    <h5 class="card-title" id="var_info_card_title">Variant info:</h5>
                    <p class="card-text" id="var_info_card_text"></p>
                    <p class="card-text" id="var_info_card_text_1"></p>
                    <br>
                    <h5 class="card-title" id="var_info_card_title_2">Technical info:</h5>
                    <p class="card-text" id="var_info_card_text_2"></p>
                    <br>
                    <h5 class="card-title" id="var_info_card_title_3">Annotation:</h5>
                    <p class="card-text" id="var_info_card_text_3"></p>
                    <br>
                    <h5 class="card-title">Frequencies:</h5>
                    <p class="card-text"> gnomAD AF NFE:  <strong>{{ gnomad_af_nfe }}</strong> gnomad AF: <strong>{{ gnomad_af }}</strong> </p>
                    <br>
                    <p class="card-text"> gnomAD AF NFE:  <strong>{{ gnomad_af_nfe }}</strong> gnomad AF: <strong>{{ gnomad_af }}</strong> </p>
                    <br> 
                    <h5 class="card-title">Phenotypes:</h5>
                    <ul>
                        <li v-for="item in phenotypes">{{ item }}</li>
                    </ul>
                    <br>
                    <h5 class="card-title" id="var_info_card_title_5">Previous interpretations:</h5>
                    <p class="card-text" id="var_info_card_text_5"></p>
                    <br>
                    <h5 class="card-title" id="var_info_card_title_4">Interpretation:</h5>
                    <p class="card-text" id="var_info_card_text_4"></p>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="sel1">Class:</label>
                                <select class="form-control" id="sel1" v-model="varclass" @change="onchange()">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>U</option>
                                </select>
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <label for="variant comments">Comments</label>
                            <textarea class="form-control" id="varComments" spellcheck="false" v-model="comment" @input="onchange()"></textarea>
                        </fieldset>
                    </form>
                    <button type="button" class="btn btn-primary" id="saveInterpButton" v-on:click="save_interp">Save interpretation</button> <button type="button" class="btn btn-primary" id="sendInterpButton" v-on:click="save_interp">Sign off interpretation</button>
                </div>
            </div>
            
            <div class="card">
                <h5 class="card-header h5" id="IGV_card_h" data-toggle="collapse" href="#collapseIGV">IGVs:</h5>
                
                <div class="card-body collapse" id="collapseIGV">
                    <div id="igvDiv" style="padding-top: 50px;padding-bottom: 20px; height: auto">
                        <h6>Mapping :  <button type="button" class="btn btn-primary" v-on:click="loadIGV">Load</button></h6>
                    </div>
                    </div>
                </div>
            
       
            <div class="card">
                <h5 class="card-header h5" id="var_links_h5">Links:</h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2">
                      <p class="card-text" id="link_card_text_1"><a id="link_card_href_1" target="_blank">gnomAD</a></p>
                    </div>
                    <div class="col-sm-2">
                      <p class="card-text" id="link_card_text_2"><a id="link_card_href_2" target="_blank">Omim</a></p>
                    </div>
                    <div class="col-sm-2">
                      <p class="card-text"><a href="https://stuart.radboudumc.nl/metadome/dashboard" target="_blank">Metadome</a></p>
                    </div>
                    <div class="col-sm-2">
                      <p class="card-text"><a href="https://varsome.com" target="_blank">Varsome</a></p>
                    </div>
                    <div class="col-sm-2">
                      <p class="card-text"><a href="http://miscast.broadinstitute.org/" target="_blank">Miscast</a></p>
                    </div>
                    <div class="col-sm-2">
                      <p class="card-text"><a href="  http://www.docm.info/" target="_blank">Docm</a></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="reportButton" v-on:click="reportGeneration">Report</button>
    </div>
</div>




</div>
<div id="hiddenuser" hidden>
# result.add(c.username)
</div>

# result.add(genModal(sID))
</div>
<script type="text/javascript" src="/vue/vue.js"></script>
<script type="text/javascript" src="/axios/axios.min.js"></script>
<script type="text/javascript" src="/js/interpretView.js"></script>

<script type="text/javascript" src="/js/interpretViewVue.js"></script>
<script type="text/javascript" src="/js/reportView.js"></script>
<script type="text/javascript" src="/js/jspdf.min.js"></script>
</body>
#end proc